body {
    background: url("/../images/wall.png");
    background-color: #f5f1df;
    overflow-x: hidden;
}

header.app-header {
    max-width: 576px;
    margin: 0 auto;
    height: 140px;
    background: url("/../images/header.png") no-repeat;
    background-position: center center;
    @include sm {
        background: url("/../images/header-mobile.png") no-repeat;
        background-position: center center;
    }
}

div.app-wrapper {
    max-width: 960px;
    margin: 0 auto;

    div.board-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        background: url("/../images/board.png") no-repeat;
        background-size: 100% 100%;
        padding: 4%;
        font-family: 'Eraser', serif;
        position: relative;

        div.cell {
            flex-basis: 30%;
            height: 120px;
            margin-top: 5%;
            padding-top: 10px;
            position: relative;

            a {
                text-align: center;
                text-decoration: none;
                display: block;
            }

            a.link {
                height: $cell-height;
                line-height: $cell-height;
                font-size: $cell-font-size;
                font-weight: bold;
                width: $cell-width;
                margin: 0 auto;
                background: url("/../images/cell-background.png");
                border-radius: 50%;

                &:hover {
                    font-size: $cell-font-size-hover;
                }
            }

            a.empty {
                color: $main-text-color;
                background: url("/../images/cell.png") no-repeat;
                background-size: 100% 100%;
            }

            a.has-link {
                color: #000;
            }

            a.edit {
                position: absolute;
                bottom: 0;
                color: $color-neutral;
                width: $cell-width;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                padding-bottom: 2px;
                border-bottom: 4px dotted transparent;

                &:hover {
                    border-color: $color-neutral;
                }
            }
        }

        .scratch {
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            opacity: 0.6;
            width: 100px;
            height: 87px;

            &#scratch1 {
                background-image: url('/../images/scratch1.png');
                right: -150px;
                bottom: 34px;

                @include xl {
                    right: 45px;
                    bottom: -104px;
                }
            }

            &#scratch2 {
                background-image: url('/../images/scratch2.png');
                left: -150px;
                top: 34px;

                @include xl {
                    left: 0;
                    top: -124px;
                }

                @include lg {
                    background-image: none;
                    display: none;
                }
            }

            &#scratch3 {
                background-image: url('/../images/scratch3.png');
                left: 50px;
                bottom: -84px;
            }
            &#scratch4 {
                background-image: url('/../images/scratch4.png');
                left: 150px;
                bottom: -94px;

                @include sm {
                    background-image: none;
                    display: none;
                }
            }
        }
    }

    div.form-wrapper {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        div.input-group {
            padding: 10px;
            margin-bottom: 2%;
            width: 100%;

            label {
                font-size: 16px;
                color: $main-text-color;
                display: block;
                padding: 10px 10px 10px 0;
            }

            input {
                width: 100%;
                height: 30px;
                border: none;
                border-bottom: 2px solid $main-text-color;
                background-color: transparent;
                color: $main-text-color;
                font-family: "Eraser", serif;

                &:focus {
                    outline: none;
                    border-color: $color-form;
                }

                &[type="radio"] {
                    width: 0;
                    height: 40px;
                    visibility: hidden;

                    + label.color {
                        padding: 0;
                        content: "";
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        border-radius: 50%;
                        background: url("/../images/color-background.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }

                &[type="radio"]:checked {
                    + label.color {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            input.invalid, select.invalid {
                border-color: $color-danger;
            }

            div.danger {
                color: $color-danger;
                padding: 4px;
            }

            button {
                font-family: "Eraser", serif;
                padding-bottom: 2px;
                border: none;
                border-bottom: 4px dotted transparent;
            }

            button.submit {
                background-color: transparent;
                color: $color-neutral;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    border-color: $color-neutral;
                }
            }

            button.delete {
                color: $color-danger;
                float: right;

                &:hover {
                    border-color: $color-danger;
                }
            }
        }
    }
}
