// cell sizes
$cell-width: 80px;
$cell-height: 80px;
$cell-font-size: 40px;
$cell-margin-top: 10px;
$cell-font-size-hover: 52px;

// generic colors
$main-text-color: #FFF;
$color-danger: #FF7F50;
$color-neutral: #ffc76b;
$color-form: #4169E1;

//breakpoints

$tablets: 1280px;
