@font-face {
  font-family: Eraser;
  src: url(/../fonts/EraserRegular.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url("/../images/wall.png");
  background-color: #f5f1df;
  overflow-x: hidden;
}

header.app-header {
  max-width: 576px;
  margin: 0 auto;
  height: 140px;
  background: url("/../images/header.png") no-repeat;
  background-position: center center;
}

@media (max-width: 576px) {
  header.app-header {
    background: url("/../images/header-mobile.png") no-repeat;
    background-position: center center;
  }
}

div.app-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

div.app-wrapper div.board-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  background: url("/../images/board.png") no-repeat;
  background-size: 100% 100%;
  padding: 4%;
  font-family: "Eraser", serif;
  position: relative;
}

div.app-wrapper div.board-wrapper div.cell {
  flex-basis: 30%;
  height: 120px;
  margin-top: 5%;
  padding-top: 10px;
  position: relative;
}

div.app-wrapper div.board-wrapper div.cell a {
  text-align: center;
  text-decoration: none;
  display: block;
}

div.app-wrapper div.board-wrapper div.cell a.link {
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  font-weight: bold;
  width: 80px;
  margin: 0 auto;
  background: url("/../images/cell-background.png");
  border-radius: 50%;
}

div.app-wrapper div.board-wrapper div.cell a.link:hover {
  font-size: 52px;
}

div.app-wrapper div.board-wrapper div.cell a.empty {
  color: #FFF;
  background: url("/../images/cell.png") no-repeat;
  background-size: 100% 100%;
}

div.app-wrapper div.board-wrapper div.cell a.has-link {
  color: #000;
}

div.app-wrapper div.board-wrapper div.cell a.edit {
  position: absolute;
  bottom: 0;
  color: #ffc76b;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-bottom: 2px;
  border-bottom: 4px dotted transparent;
}

div.app-wrapper div.board-wrapper div.cell a.edit:hover {
  border-color: #ffc76b;
}

div.app-wrapper div.board-wrapper .scratch {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
  width: 100px;
  height: 87px;
}

div.app-wrapper div.board-wrapper .scratch#scratch1 {
  background-image: url("/../images/scratch1.png");
  right: -150px;
  bottom: 34px;
}

@media (max-width: 1280px) {
  div.app-wrapper div.board-wrapper .scratch#scratch1 {
    right: 45px;
    bottom: -104px;
  }
}

div.app-wrapper div.board-wrapper .scratch#scratch2 {
  background-image: url("/../images/scratch2.png");
  left: -150px;
  top: 34px;
}

@media (max-width: 1280px) {
  div.app-wrapper div.board-wrapper .scratch#scratch2 {
    left: 0;
    top: -124px;
  }
}

@media (max-width: 992px) {
  div.app-wrapper div.board-wrapper .scratch#scratch2 {
    background-image: none;
    display: none;
  }
}

div.app-wrapper div.board-wrapper .scratch#scratch3 {
  background-image: url("/../images/scratch3.png");
  left: 50px;
  bottom: -84px;
}

div.app-wrapper div.board-wrapper .scratch#scratch4 {
  background-image: url("/../images/scratch4.png");
  left: 150px;
  bottom: -94px;
}

@media (max-width: 576px) {
  div.app-wrapper div.board-wrapper .scratch#scratch4 {
    background-image: none;
    display: none;
  }
}

div.app-wrapper div.form-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

div.app-wrapper div.form-wrapper div.input-group {
  padding: 10px;
  margin-bottom: 2%;
  width: 100%;
}

div.app-wrapper div.form-wrapper div.input-group label {
  font-size: 16px;
  color: #FFF;
  display: block;
  padding: 10px 10px 10px 0;
}

div.app-wrapper div.form-wrapper div.input-group input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-family: "Eraser", serif;
}

div.app-wrapper div.form-wrapper div.input-group input:focus {
  outline: none;
  border-color: #4169E1;
}

div.app-wrapper div.form-wrapper div.input-group input[type=radio] {
  width: 0;
  height: 40px;
  visibility: hidden;
}

div.app-wrapper div.form-wrapper div.input-group input[type=radio] + label.color {
  padding: 0;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: url("/../images/color-background.png") no-repeat;
  background-size: 100% 100%;
}

div.app-wrapper div.form-wrapper div.input-group input[type=radio]:checked + label.color {
  width: 40px;
  height: 40px;
}

div.app-wrapper div.form-wrapper div.input-group input.invalid,
div.app-wrapper div.form-wrapper div.input-group select.invalid {
  border-color: #FF7F50;
}

div.app-wrapper div.form-wrapper div.input-group div.danger {
  color: #FF7F50;
  padding: 4px;
}

div.app-wrapper div.form-wrapper div.input-group button {
  font-family: "Eraser", serif;
  padding-bottom: 2px;
  border: none;
  border-bottom: 4px dotted transparent;
}

div.app-wrapper div.form-wrapper div.input-group button.submit {
  background-color: transparent;
  color: #ffc76b;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

div.app-wrapper div.form-wrapper div.input-group button.submit:hover {
  border-color: #ffc76b;
}

div.app-wrapper div.form-wrapper div.input-group button.delete {
  color: #FF7F50;
  float: right;
}

div.app-wrapper div.form-wrapper div.input-group button.delete:hover {
  border-color: #FF7F50;
}

